body {
	background-color:lightblue;
}


.code {
	font-family:"Courier";
	background-color:white;
}

p {
	font-family:"Arial";
}

ul {
	font-family:"Arial";
}

h1 {
	font-family:"Arial";
	font-size:48px;
}

h2 {
	font-family:"Arial";
}

a {
	color:green
}